[revealOnScroll] {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

.text-near-image, 
.--bs-btn-font-size,
.text-main-below-image {
    font-size: 18px;
}

.btn-primary {
    background-color: #3016EB;
    border: 1px solid #2DB4F4;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #2411cf;
    transition: 0.3s;
}

.btn-near-mascot {
    font-size: 15px;
}

@media(min-width: 400px) {
    .text-near-image,  
    .text-main-below-image,
    .--bs-btn-font-size {
        font-size: 20px;
    }
    
    .btn-primary {
        width: 60%;
    }
    
}

@media(min-width: 576px) {
    .container {
        padding: 0px;
    }

    .btn-primary {
        width: 80%;
    }

    .text-main-below-image {
        padding: 30px;
    }

    .btn-near-mascot {
        font-size: 200px;
    }

}

@media(min-width: 768px) {
    .btn-near-mascot {
        width: 60%;
    }
}

@media(min-width: 992px) {
    .text-near-image, 
    .btn, 
    .text-main-below-image {
        font-size: 25px;
    }
    
}

@media(min-width: 1200px) {
    .btn-primary {
        width: 60%;
    }

    .btn-near-mascot {
        width: 40%;
    }

}
.page {
    background-color: #DAEDFF;
    min-height: 100vh;
    padding-block: 2rem;
}
